body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.navbar{
	width: 100%;
	align-items: center;
	padding: 15px 0 5px 15px;
}

.logo{
	font-weight: bold;
	flex-grow: 2;

}
.anchors{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

a{
	flex-grow: 1;
}
.header-main-img{
	height: 10%;
}

.nails{
	width: 80%;
}

.nails-price{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.gelNails{
	width: 25%;
	padding: 20px;
	text-align: center;
}

.pedimani{
	background-color: #f7f4f4;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.manicure{
	/* width: 40%; */
	text-align: right;
	/* margin-right: 5%; */
}

.pedi{
	/* width: 40%; */
	text-align: right;
	/* margin-left: 5%; */
}
.pdadd{
	font-size: 0.8rem;
	text-align: right;
}
.add-on{
	font-size: 0.8rem;

	text-align: center;
	width: 100%;
}
.add-on-con{
	
	display: flex;
	justify-content: space-between;
	margin: 0 0 15px 0;

}



.waxing{
	margin: 0 auto;
	width: 70%;
	display: flex;
	text-align: center;;
	justify-content: space-evenly;
}

.face {
	text-align: right;
}

.body1{
	display: flex;
	flex-direction: column;
	text-align: right;
}

.kprice{
	width: 80%;
	margin:0 auto;
	display: flex;
	justify-content: baseline space-evenly;
}
.kids{
	border: 1px solid black;
	text-align: left;
	padding: 10px;
	flex-grow: 1;
}

.explaination{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.gel{
	padding: 2%;
}



